-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: food_service_db
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `cart`
--

DROP TABLE IF EXISTS `cart`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cart` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `userId` int(11) NOT NULL,
  `productId` int(11) NOT NULL,
  `name` varchar(100) NOT NULL,
  `price` decimal(10,2) NOT NULL,
  `quantity` int(11) DEFAULT 1,
  `image` varchar(255) NOT NULL,
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_user_product` (`userId`,`productId`),
  CONSTRAINT `cart_ibfk_1` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cart`
--

LOCK TABLES `cart` WRITE;
/*!40000 ALTER TABLE `cart` DISABLE KEYS */;
/*!40000 ALTER TABLE `cart` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `categories`
--

DROP TABLE IF EXISTS `categories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `categories` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `value` varchar(100) NOT NULL,
  `image` varchar(255) DEFAULT '',
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`),
  UNIQUE KEY `value` (`value`),
  UNIQUE KEY `name_2` (`name`),
  UNIQUE KEY `value_2` (`value`),
  UNIQUE KEY `name_3` (`name`),
  UNIQUE KEY `value_3` (`value`),
  UNIQUE KEY `name_4` (`name`),
  UNIQUE KEY `value_4` (`value`),
  UNIQUE KEY `name_5` (`name`),
  UNIQUE KEY `value_5` (`value`),
  UNIQUE KEY `name_6` (`name`),
  UNIQUE KEY `value_6` (`value`),
  UNIQUE KEY `name_7` (`name`),
  UNIQUE KEY `value_7` (`value`),
  UNIQUE KEY `name_8` (`name`),
  UNIQUE KEY `value_8` (`value`),
  UNIQUE KEY `name_9` (`name`),
  UNIQUE KEY `value_9` (`value`),
  UNIQUE KEY `name_10` (`name`),
  UNIQUE KEY `value_10` (`value`),
  UNIQUE KEY `name_11` (`name`),
  UNIQUE KEY `value_11` (`value`),
  UNIQUE KEY `name_12` (`name`),
  UNIQUE KEY `value_12` (`value`),
  UNIQUE KEY `name_13` (`name`),
  UNIQUE KEY `value_13` (`value`),
  UNIQUE KEY `name_14` (`name`),
  UNIQUE KEY `value_14` (`value`),
  UNIQUE KEY `name_15` (`name`),
  UNIQUE KEY `value_15` (`value`),
  UNIQUE KEY `name_16` (`name`),
  UNIQUE KEY `value_16` (`value`),
  UNIQUE KEY `name_17` (`name`),
  UNIQUE KEY `value_17` (`value`),
  UNIQUE KEY `name_18` (`name`),
  UNIQUE KEY `value_18` (`value`),
  UNIQUE KEY `name_19` (`name`),
  UNIQUE KEY `value_19` (`value`),
  UNIQUE KEY `name_20` (`name`),
  UNIQUE KEY `value_20` (`value`),
  UNIQUE KEY `name_21` (`name`),
  UNIQUE KEY `value_21` (`value`),
  UNIQUE KEY `name_22` (`name`),
  UNIQUE KEY `value_22` (`value`),
  UNIQUE KEY `name_23` (`name`),
  UNIQUE KEY `value_23` (`value`),
  UNIQUE KEY `name_24` (`name`),
  UNIQUE KEY `value_24` (`value`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `categories`
--

LOCK TABLES `categories` WRITE;
/*!40000 ALTER TABLE `categories` DISABLE KEYS */;
INSERT INTO `categories` VALUES (1,'Fast Food','fast food','','2026-04-22 09:39:52','2026-04-22 09:39:52'),(2,'Main Dish','main dish','','2026-04-22 09:39:52','2026-04-22 09:39:52'),(3,'Drinks','drinks','','2026-04-22 09:39:52','2026-04-22 09:39:52'),(4,'Desserts','desserts','','2026-04-22 09:39:52','2026-04-22 09:39:52');
/*!40000 ALTER TABLE `categories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chat_messages`
--

DROP TABLE IF EXISTS `chat_messages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `chat_messages` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `sessionId` int(11) NOT NULL,
  `sender` enum('user','admin') NOT NULL,
  `senderName` varchar(100) NOT NULL,
  `text` text NOT NULL,
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `sessionId` (`sessionId`),
  CONSTRAINT `chat_messages_ibfk_1` FOREIGN KEY (`sessionId`) REFERENCES `chat_sessions` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chat_messages`
--

LOCK TABLES `chat_messages` WRITE;
/*!40000 ALTER TABLE `chat_messages` DISABLE KEYS */;
INSERT INTO `chat_messages` VALUES (1,7,'user','Saurav','hello','2026-04-22 12:04:23','2026-04-22 12:04:23'),(2,7,'admin','Admin','hi','2026-04-22 12:04:32','2026-04-22 12:04:32');
/*!40000 ALTER TABLE `chat_messages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chat_sessions`
--

DROP TABLE IF EXISTS `chat_sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `chat_sessions` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `userId` int(11) NOT NULL,
  `status` enum('active','closed') DEFAULT 'active',
  `lastActivityAt` datetime DEFAULT NULL,
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `userId` (`userId`),
  CONSTRAINT `chat_sessions_ibfk_1` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chat_sessions`
--

LOCK TABLES `chat_sessions` WRITE;
/*!40000 ALTER TABLE `chat_sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `chat_sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `favorites`
--

DROP TABLE IF EXISTS `favorites`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `favorites` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `userId` int(11) NOT NULL,
  `productId` int(11) NOT NULL,
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `favorites_user_id_product_id` (`userId`,`productId`),
  KEY `productId` (`productId`),
  CONSTRAINT `favorites_ibfk_59` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `favorites_ibfk_60` FOREIGN KEY (`productId`) REFERENCES `products` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `favorites`
--

LOCK TABLES `favorites` WRITE;
/*!40000 ALTER TABLE `favorites` DISABLE KEYS */;
/*!40000 ALTER TABLE `favorites` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `messages`
--

DROP TABLE IF EXISTS `messages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `messages` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `userId` int(11) DEFAULT NULL,
  `name` varchar(100) NOT NULL,
  `email` varchar(100) NOT NULL,
  `number` varchar(15) NOT NULL,
  `message` text NOT NULL,
  `isRead` tinyint(1) DEFAULT 0,
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  `reply` text DEFAULT NULL,
  `repliedAt` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `userId` (`userId`),
  CONSTRAINT `messages_ibfk_1` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `messages`
--

LOCK TABLES `messages` WRITE;
/*!40000 ALTER TABLE `messages` DISABLE KEYS */;
/*!40000 ALTER TABLE `messages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `orders`
--

DROP TABLE IF EXISTS `orders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `orders` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `userId` int(11) NOT NULL,
  `customerName` varchar(100) NOT NULL,
  `customerEmail` varchar(100) NOT NULL,
  `customerPhone` varchar(20) NOT NULL,
  `deliveryAddress` text NOT NULL,
  `paymentMethod` varchar(50) DEFAULT 'cash on delivery',
  `items` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL CHECK (json_valid(`items`)),
  `totalPrice` decimal(10,2) NOT NULL,
  `status` enum('placed','confirmed','preparing','out_for_delivery','delivered','cancelled') DEFAULT 'placed',
  `paymentStatus` enum('pending','completed') DEFAULT 'pending',
  `estimatedDelivery` int(11) DEFAULT 30,
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `userId` (`userId`),
  CONSTRAINT `orders_ibfk_1` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `orders`
--

LOCK TABLES `orders` WRITE;
/*!40000 ALTER TABLE `orders` DISABLE KEYS */;
INSERT INTO `orders` VALUES (1,2,'Aayush Maharjan','aayush@gmail.com','9822222222','Nepal','cash on delivery','[{\"productId\":1,\"name\":\"Burgur\",\"price\":150,\"quantity\":3,\"image\":\"1776849873653-168497096.png\"}]',450.00,'delivered','completed',15,'2026-04-22 09:29:55','2026-04-22 10:11:07');
/*!40000 ALTER TABLE `orders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `products`
--

DROP TABLE IF EXISTS `products`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `products` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `category` varchar(100) NOT NULL,
  `price` decimal(10,2) NOT NULL,
  `image` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  `prepTime` int(11) DEFAULT 15,
  `totalOrders` int(11) DEFAULT 0,
  `recentOrders` int(11) DEFAULT 0,
  `isAvailable` tinyint(1) DEFAULT 1,
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`),
  UNIQUE KEY `name_2` (`name`),
  UNIQUE KEY `name_3` (`name`),
  UNIQUE KEY `name_4` (`name`),
  UNIQUE KEY `name_5` (`name`),
  UNIQUE KEY `name_6` (`name`),
  UNIQUE KEY `name_7` (`name`),
  UNIQUE KEY `name_8` (`name`),
  UNIQUE KEY `name_9` (`name`),
  UNIQUE KEY `name_10` (`name`),
  UNIQUE KEY `name_11` (`name`),
  UNIQUE KEY `name_12` (`name`),
  UNIQUE KEY `name_13` (`name`),
  UNIQUE KEY `name_14` (`name`),
  UNIQUE KEY `name_15` (`name`),
  UNIQUE KEY `name_16` (`name`),
  UNIQUE KEY `name_17` (`name`),
  UNIQUE KEY `name_18` (`name`),
  UNIQUE KEY `name_19` (`name`),
  UNIQUE KEY `name_20` (`name`),
  UNIQUE KEY `name_21` (`name`),
  UNIQUE KEY `name_22` (`name`),
  UNIQUE KEY `name_23` (`name`),
  UNIQUE KEY `name_24` (`name`),
  UNIQUE KEY `name_25` (`name`),
  UNIQUE KEY `name_26` (`name`),
  UNIQUE KEY `name_27` (`name`),
  UNIQUE KEY `name_28` (`name`),
  UNIQUE KEY `name_29` (`name`),
  UNIQUE KEY `name_30` (`name`),
  UNIQUE KEY `name_31` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=35 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `products`
--

LOCK TABLES `products` WRITE;
/*!40000 ALTER TABLE `products` DISABLE KEYS */;
/*!40000 ALTER TABLE `products` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reviews`
--

DROP TABLE IF EXISTS `reviews`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `reviews` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `productId` int(11) NOT NULL,
  `userId` int(11) NOT NULL,
  `rating` int(11) NOT NULL,
  `comment` text DEFAULT NULL,
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `reviews_product_id_user_id` (`productId`,`userId`),
  KEY `userId` (`userId`),
  CONSTRAINT `reviews_ibfk_59` FOREIGN KEY (`productId`) REFERENCES `products` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `reviews_ibfk_60` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reviews`
--

LOCK TABLES `reviews` WRITE;
/*!40000 ALTER TABLE `reviews` DISABLE KEYS */;
/*!40000 ALTER TABLE `reviews` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(50) NOT NULL,
  `email` varchar(100) NOT NULL,
  `number` varchar(15) NOT NULL,
  `password` varchar(255) NOT NULL,
  `addressArea` varchar(100) DEFAULT '',
  `addressCity` varchar(100) DEFAULT '',
  `addressCountry` varchar(100) DEFAULT '',
  `addressPinCode` varchar(20) DEFAULT '',
  `role` enum('user','admin') DEFAULT 'user',
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`),
  UNIQUE KEY `number` (`number`),
  UNIQUE KEY `email_2` (`email`),
  UNIQUE KEY `number_2` (`number`),
  UNIQUE KEY `email_3` (`email`),
  UNIQUE KEY `number_3` (`number`),
  UNIQUE KEY `email_4` (`email`),
  UNIQUE KEY `number_4` (`number`),
  UNIQUE KEY `email_5` (`email`),
  UNIQUE KEY `number_5` (`number`),
  UNIQUE KEY `email_6` (`email`),
  UNIQUE KEY `number_6` (`number`),
  UNIQUE KEY `email_7` (`email`),
  UNIQUE KEY `number_7` (`number`),
  UNIQUE KEY `email_8` (`email`),
  UNIQUE KEY `number_8` (`number`),
  UNIQUE KEY `email_9` (`email`),
  UNIQUE KEY `number_9` (`number`),
  UNIQUE KEY `email_10` (`email`),
  UNIQUE KEY `number_10` (`number`),
  UNIQUE KEY `email_11` (`email`),
  UNIQUE KEY `number_11` (`number`),
  UNIQUE KEY `email_12` (`email`),
  UNIQUE KEY `number_12` (`number`),
  UNIQUE KEY `email_13` (`email`),
  UNIQUE KEY `number_13` (`number`),
  UNIQUE KEY `email_14` (`email`),
  UNIQUE KEY `email_15` (`email`),
  UNIQUE KEY `number_14` (`number`),
  UNIQUE KEY `number_15` (`number`),
  UNIQUE KEY `email_16` (`email`),
  UNIQUE KEY `number_16` (`number`),
  UNIQUE KEY `email_17` (`email`),
  UNIQUE KEY `number_17` (`number`),
  UNIQUE KEY `email_18` (`email`),
  UNIQUE KEY `number_18` (`number`),
  UNIQUE KEY `email_19` (`email`),
  UNIQUE KEY `number_19` (`number`),
  UNIQUE KEY `email_20` (`email`),
  UNIQUE KEY `number_20` (`number`),
  UNIQUE KEY `email_21` (`email`),
  UNIQUE KEY `number_21` (`number`),
  UNIQUE KEY `email_22` (`email`),
  UNIQUE KEY `number_22` (`number`),
  UNIQUE KEY `email_23` (`email`),
  UNIQUE KEY `number_23` (`number`),
  UNIQUE KEY `email_24` (`email`),
  UNIQUE KEY `number_24` (`number`),
  UNIQUE KEY `email_25` (`email`),
  UNIQUE KEY `number_25` (`number`),
  UNIQUE KEY `email_26` (`email`),
  UNIQUE KEY `number_26` (`number`),
  UNIQUE KEY `email_27` (`email`),
  UNIQUE KEY `number_27` (`number`),
  UNIQUE KEY `email_28` (`email`),
  UNIQUE KEY `number_28` (`number`),
  UNIQUE KEY `email_29` (`email`),
  UNIQUE KEY `number_29` (`number`),
  UNIQUE KEY `email_30` (`email`),
  UNIQUE KEY `number_30` (`number`),
  UNIQUE KEY `email_31` (`email`),
  UNIQUE KEY `number_31` (`number`),
  UNIQUE KEY `email_32` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'Admin','admin@foodservice.com','9800000000','$2a$12$S7xtzZ7EC2WVQTvo.tX8reh7jK2vosptQNFV.MGr5SH0xnOmgmQTW','','','','','admin','2026-04-22 09:05:15','2026-04-22 09:05:15'),(2,'Aayush Maharjan','aayush@gmail.com','9822222222','$2a$12$l/1mJzu0WzuWXdX8gfF.5OV6v8LQBSfPjVVBf.FzJG1Ybi/De.YmO','','','','','user','2026-04-22 09:29:21','2026-04-22 09:29:21'),(3,'Saurav','saurav@gmail.com','9833333333','$2a$12$t1liCZbtYXEc0rR3a33VSexwTR304LN.ETMv3qvwMo8aiW2lWcQxS','','','','','user','2026-04-22 10:46:41','2026-04-22 10:46:41');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-22 18:04:10
